.decoration-color {
  margin: 0 4px;
  &::before {
    content: '';
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.2em;
    display: inline-block;
    background-color: var(--color);
  }
}

.deal-empty {
  &:empty {
    &::before {
      content: '\feff';
    }
  }
}

@keyframes cursor-fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
